doctype html
html
	head
		title Trabalho de WebGIS - Municípios MG
		// include: "type": "css", "files": "css/**/*.css"

	body
		#mapa

		script(src="//localhost:35729/livereload.js")

		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB9K6tItnpWQeDs2NYnbD6Z74AUXs-DaRI&callback=initMap', async='', defer='')


		// include: "type": "js", "files": "js/**/*.js"